<div>
    <a class="btn btn-secondary" href="/course"><i class="fa fa-plus"></i> Create New</a>

    <h3 align="center">Listas de patinetas</h3>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Style</th>
            <th>Brand</th>
            <th>size</th>
            <th>Material</th>
            <th>Picture</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr align="center">
            <td>{{this.Style}}</td>
            <td>{{this.Brand}}</td>
            <td>{{this.Length}}</td>
            <td>{{this.Material}}</td>
            <td>{{this.Picture}}</td>

            <td>
                <a href="/course/{{this._id}}"> Edit </a>
                <a>/</a>
                <a href="http://localhost:3000/uploads/{{this.Picture}}"> View image </a>
                <a>/</a>
                <a href="/course/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">
                    Delete </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>